body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  

  
  h1 {
    text-align: center;
    padding: 20px;
    color: #333;
  }
  
  nav {
    text-align: center;
    width:500px;
    height: 700px;
    margin:0;
    position:absolute;
    top:50%;
    left:50%;
    -ms-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);

  }
  
  nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    
  }
  
  li {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  
  li b {
    font-weight: bold;
  }
  
  form {
    margin-top: 10px;
    text-align: center;
    width:400px;
    height: 400px;
    margin:0;
    position:absolute;
    top:50%;
    left:50%;
    -ms-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
  }
  
  input[type="text"],
  textarea,
  button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  .error {
    color: red;
    margin-top: 10px;
  }

  .container {
    text-align: center;
    border: 10px solid black;
    width: 800px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
  }

  .thank-you-message {
    display: none;
  }
  .item-box {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 20px;
  }
  
  .item-title {
    font-weight: bold;
    font-size: 20px;
  }
  
  .item-description {
    margin-top: 10px;
    font-size: 16px;
  }
  
  .item-quantity {
    margin-top: 10px;
  }
  
  .item-status {
    margin-top: 10px;
  }
  
  .name-input {
    margin-top: 20px;
  }
  
  .submit-button {
    margin-top: 10px;
  }